body {
	font-family: "Helvetica";
}

html, body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

#front1 {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 50%;
	bottom: 50%;
	height: 50%;
	width: 50%;
	background-color: #4BBCF6;
	background-image: url("../images/bag-regular.svg");
	background-size: 60% 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	left: 0%;
	right: 50%;
	bottom: 50%;
	height: 50%;
	width: 50%;
}

#back1 {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 50%;
	bottom: 50%;
	height: 50%;
	width: 50%;
	background-color: #4BBCF6;
}

#front2 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 0%;
	right: 0%;
	bottom: 50%;
	background-color: #98E466;
	background-image: url("../images/camcorder-regular.svg");
	background-size: 60% 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
}

#back2 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 0%;
	right: 0%;
	bottom: 50%;
	background-color: #98E466;
}

#front3 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 0%;
	top: 50%;
	right: 50%;
	bottom: 0%;
	background-color: #FBEF69;
	background-image: url("../images/piggybank-regular.svg");
	background-size: 60% 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
}

#back3 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 0%;
	top: 50%;
	right: 50%;
	bottom: 0%;
	background-color: #FBEF69;
}

#front4 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 50%;
	right: 0%;
	bottom: 0%;
	background-color: #FA6666;
	background-image: url("../images/heart-regular.svg");
	background-size: 60% 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
}

#back4 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 50%;
	right: 0%;
	bottom: 0%;
	background-color: #FA6666;
}


.front {
	z-index: 200;
}

.back {
	z-index: 1;
}

input {
	margin-top: 15px;
	margin-bottom: 15px;
}

#contentBack2 input {
	background-color: Transparent;
	border: 2px solid white;
	outline: none;
	color: white;
	font-size: 24px;
	width: 100%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	padding: 10px;
}

#contentBack2 input:hover {
	background-color: #FA6666;
}

#back2 button {
	background-color: #FA6666;
	color: white;
	border: 2px solid white;
	font-size: 20px;
	font-weight: 700;
	outline: none;
	padding: 10px;
	width: 105%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-transition: all 1s ease-in-out
}

#back2 button:hover {
	background-color: white;
	color: #FA6666;
}

span {
	color: white;
	font-size: 24px;
	font-weight: bolder;
}

#contentBack2, #contentBack1, #contentBack3, #contentBack4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#back1 button {
	background-color: #FBEF69;
	color: #4BBCF6;
	border: 2px solid white;
	font-size: 20px;
	font-weight: 700;
	outline: none;
	padding: 10px;
	width: 105%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#back1 button:hover {
	background-color: white;
	color: #4BBCF6;
}

#contentBack1 input {
	background-color: Transparent;
	border: 2px solid white;
	outline: none;
	color: white;
	font-size: 24px;
	width: 100%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	padding: 10px;
}

#contentBack1 input:hover {
	background-color: #fbef69;
}

#contentBack4 input {
	background-color: Transparent;
	border: 2px solid white;
	outline: none;
	color: white;
	font-size: 24px;
	width: 100%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	padding: 10px;
}

#contentBack4 input:hover {
	background-color: #98e466;
}

#back4 button {
	background-color: #98e466;
	color: white;
	border: 2px solid white;
	font-size: 20px;
	font-weight: 700;
	outline: none;
	padding: 10px;
	width: 105%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#back4 button:hover {
	background-color: white;
	color: #FA6666;
}

#contentBack3 input {
	background-color: Transparent;
	border: 2px solid #9069FB;
	outline: none;
	color: black;
	font-size: 24px;
	width: 100%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	padding: 10px;
}

#contentBack3 input:hover {
	background-color: white;
	border-color: #9069FB;
	border-style: solid;
}

#contentBack3 span {
	color: #9069FB;
}

#back3 button {
	background-color: #9069FB;
	color: white;
	border: 2px solid white;
	font-size: 20px;
	font-weight: 700;
	outline: none;
	padding: 10px;
	width: 105%;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#back3 button:hover {
	background-color: white;
	color: #9069FB;
}

img {
	cursor: pointer;
}