body {
	font-family: "Helvetica";
}



img {
	width: 200px;
	height: 200px;
}

h2 {
	text-align: center;
		background-color: #E3F2FD;

	line-height: 40px;
	margin-top: -9px;
}

#secondRow {
	margin-top: 55px;
}

IMG.centeredIMGRight {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: right;
}

IMG.centeredIMGLeft {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#heading {
	margin-top: 15px;
}

input[type="text"] {
	display: block;
	margin: auto;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
}

.input-list input[type="text"] {
	padding: 10px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

li {
	list-style: none;
	margin: 5px;
}

#inputBag, #inputCam, #inputHeart, #inputPiggyBank {
	background-color: grey;
	height: 250px;
	display: none;
}

#verticalline {
	background-color: black;
	height: 400px;
	width: 2px;
	margin-top: -400px
}

#horizontalline {
	width: 850px;
	height: 2px;
	margin: -240px;
	background: black;
	margin-left: 15%;
} */
html, body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.imagebox {
	height: 100%;
}

.imagebox img {
	position: relative;
	top: 20%;
	left: 25%;
}

#rt {
	background-color: #B6088B;
	height: 50%;
	width: 50%;
	float: right;
}

#lb {
	background-color: #F8630B;
	height: 50%;
	width: 50%;
	float: left;
}

#rb {
	background-color: #46D509;
	height: 50%;
	width: 50%;
	float: right;
}

.icons {
	width: 50%;
	height: 50%;
}

.flip-container {
	perspective: 1000;
	position:absolute;
	top:0%;
	left:0%;
	right:50%;
	bottom:50%;
	height: 100vh;
	width: 100vw;
}

#flipper {
	height: 50vh;
	width: 50vw;
}

#front1 {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 50%;
	bottom: 50%;
	height: 50%;
	width: 50%;
	background-color: green;
	height: 50%;
}

#back1 {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 50%;
	bottom: 50%;
	height: 50%;
	width: 50%;
	background-color: green;
	left: 0%;
	right: 50%;
	bottom: 50%;
}

#front2 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 0%;
	right: 0%;
	bottom: 50%;
	background-color: blue;
}

#back2 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 0%;
	right: 0%;
	bottom: 50%;
	background-color: blue;
}

#front3 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 0%;
	top: 50%;
	right: 50%;
	bottom: 0%;
	background-color: yellow;
}

#back3 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 0%;
	top: 50%;
	right: 50%;
	bottom: 0%;
	background-color: yellow;
}

#front4 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 50%;
	right: 0%;
	bottom: 0%;
	background-color:red;
}

#back4 {
	position: absolute;
	height: 50%;
	width: 50%;
	left: 50%;
	top: 50%;
	right: 0%;
	bottom: 0%;
	background-color:red;
}
