body {
	font-family: "Helvetica";
}

.cover-container h3 {
	color: white !important;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
	background-color: #2196F3 !important;
	padding-left: 230px;
	padding-right: 300px;
	height: 60px;
}

.masthead-brand {
	text-align: center;
}
.masthead-brand{
	line-height:35px;
}

.masthead-nav {
	float: right;
}

a, a:focus, a:hover {
	color: #fff;
}

html, body {
	height: 100%;
}

.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav>li {
	display: inline-block;
}

.masthead-nav>li+li {
	margin-left: 20px;
}

.masthead-nav>li>a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	color: rgba(255, 255, 255, .75);
	border-bottom: 2px solid transparent;
}

.masthead-nav>li>a:hover, .masthead-nav>li>a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav>.active>a, .masthead-nav>.active>a:hover, .masthead-nav>.active>a:focus
	{
	color: #fff;
	border-bottom-color: #fff;
}

img {
	width: 200px;
	height: 200px;
}

h2 {
	text-align: center;
	/* 	background-color: #E3F2FD;
 */
	line-height: 40px;
	margin-top: -9px;
}

#secondRow {
	margin-top: 55px;
}

IMG.centeredIMG {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#heading {
	margin-top: 15px;
}